<html>
    <head>
        <meta charset="utf-8">
        <title>
            Some websites
        </title>
    </head>

    <body>
        <h1> We will be right back</h1>
        <p>
            The site is currently beign updated.
        </p>
    </body>
</html>   